*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

html {
  /* sets the base font size to 10px for rems to be easily calculated */
  /* 1rem = 10px */
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

.container {
  height: 100vh;
  background-color: #27272b;

  display: flex;
  align-items: center;
  justify-content: center;
}
.container > *:not(:last-child) {
  margin-right: 1.2rem;
}

.button {
  position: relative;

  padding: 0 2rem;
  height: 5.6rem;
  width: 12rem;
  border: 0;
  border-radius: 1.2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  box-shadow: 0 1rem 2.5rem -1rem rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;

  cursor: pointer;
}
.button--like {
  color: #f8f8f8;
  background-color: #1a1a1c;
}
.button--dislike {
  color: #f8f8f8;
  background-color: #35353a;
}
.button__thumb-up,
.button__thumb-down {
  margin-right: 1rem;
  font-size: 2rem;
  line-height: 1.5;
  transition: all 0.2s ease-in-out;
}
.button:hover .button__thumb-up {
  transform: rotate(10deg);
  color: #727272;
}
.button:hover .button__thumb-down {
  transform: rotate(-10deg);
  color: #727272;
}
.liked {
  background-color: #6fc7d5;
  color: #27272b;
  animation: buttonPopAnimation 0.5s normal;
}
.disliked {
  background-color: #5b5b5b;
  animation: buttonPopAnimation 0.5s normal;
}
.button.liked:hover .button__thumb-up,
.button.disliked:hover .button__thumb-down {
  transform: rotate(0deg);
  color: unset;
}

@keyframes buttonPopAnimation {
  25% {
    transform: rotate(-10deg) scale(0.8);
  }
  50% {
    transform: rotate(10deg) scale(1.1);
  }
}
